.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-left,
.menu-right,
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .menu-left,
  .menu-right .cta-button {
    display: none;
  }

  .menu-right .hamburger {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3 ease;
}
a:hover {
  color: #ddd;
}

.navbar a:not(.cta-button) {
  padding: 10px 15px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.navbar a:not(.cta-button):hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
