<div class="wrapper">
  <div class="recipe-wrapper">
    <!-- title: string,
    description: string,
    ingredients: IIngredient[],
    instructions: string,
    cookingTime: number, -->
    <!-- <div class="recipe">
      <h1 id="Title">Title</h1>
      <p id="Desceiption">Description</p>
      <ul id="Ingredients">
        <li>Ingredients</li>
      </ul>
      <p id="Instructions">Instructions</p>
      <h2 id="CookingTime">CookingTime</h2>
    </div> -->
  </div>
  <button class="btn add-recipe">Add Recipe</button>
</div>
