<div class="auth-container">
  <div class="main-container">
    <form autocomplete="off" class="login-register-form">
      <div class="control">
        <h1 class="auth-title">Sign In</h1>
      </div>
      <!-- USERNAME -->
      <div class="control block-cube block-input" data-username-control>
        <input type="text" name="username" placeholder="Username" />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
      <ul class="field-error" data-error-for="username"></ul>

      <!-- EMAIL -->
      <div class="control block-cube block-input">
        <input name="email" placeholder="Email" type="emil" />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
      <p class="field-error" data-error-for="email"></p>

      <!-- PASSWORD -->
      <div class="control block-cube block-input">
        <input name="password" placeholder="Password" type="password" />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
      <p class="field-error" data-error-for="password"></p>

      <!-- BUTTON -->
      <button class="btn block-cube block-cube-hover" type="submit">
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
        <div class="button-text">Action</div>
      </button>

      <p class="auth-switch">
        <a href="#login" data-login-link>Log in here</a>
        <a href="#register" data-register-link>Register here</a>
      </p>
      <p class="field-error" data-error-for="general"></p>
    </form>
  </div>
</div>
